{% extends "home/base.html" %}
{% block style %}
.week {
    display: flex;
    justify-content: space-between;
}
.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13%;
    padding: 4px 0px;
    border: 1px solid black;
}
{% endblock %}
{% block content %}
<p>{{ plan }}</p>
{% for week in weeks %}
    <p>week {{ forloop.counter }}</p>
    <div class="week">
    {% for day in week %}
        <div class="day">
            <div>{{ day.date }}</div>
            {% if day.training_day is None%}
                <div>
                    <a href="{% url "home:add_day" plan.pk day.count %}">add</a>
                </div>
            {% else %}
                <div>{{ day.training_day.distance }}</div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <hr>
{% endfor %}
{% endblock %}